@charset "UTF-8";
/*Defino paleta de colores a usar*/
/*Defino fuentes a usar*/
/* Se agregan fuentes de google */
@import url("https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/*Tamaños*/
.fotosEquipo .fotosEquipo__item .fotosEquipo__item__img, .contenedorImgPrincipalUnite .contenedorImgPrincipalUnite__imgPrincipal, .contenedorImgContacto .contenedorImgContacto__img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

/*FOOTER-----------------------------------------------------------------------------------------------------------------------------------------------------*/
.footer {
  margin-top: 8rem;
  padding: 1rem;
  color: #f8f3e3;
  font-family: "Krub", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #242121; }
  .footer .footer__p {
    text-align: center;
    font-family: "Krub", sans-serif, Charter, Georgia, serif;
    font-size: 2rem;
    font-weight: 500;
    color: #f8f3e3;
    margin-bottom: 0.7rem; }
  .footer .footer__socialLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 15rem;
    list-style: none;
    cursor: pointer; }
    .footer .footer__socialLinks a {
      color: #f8f3e3; }
    .footer .footer__socialLinks .fa-twitter:hover {
      color: #4bc9f5; }
    .footer .footer__socialLinks .fa-facebook:hover {
      color: #295b9e; }
    .footer .footer__socialLinks .fa-youtube:hover {
      color: #c41222; }
    .footer .footer__socialLinks .fa-instagram:hover {
      color: #ff9259; }

@media screen and (min-width: 769px) {
  .footer {
    height: 17.5rem; } }

/*FIN FOOTER--------------------------------------------------------------------------------------------*/
/*HEADER---------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.header {
  width: 100%;
  height: 6.5rem;
  background-color: #242121;
  position: sticky;
  top: 0;
  z-index: 100; }
  .header .header__nav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: normal;
    /*Comienzo logo*/
    /*fin de logo-----------------------------------------------------*/
    /*enlaces páginas inicio */
    /*enlaces páginas fin */
    /*Navegacion principal para pantalla grande--------*/
    /*fin navegación principal pantalla grande*/ }
    .header .header__nav .header__nav__logo .header__nav_logo__svg {
      width: 100%;
      height: 7rem; }
    @media (min-width: 769px) {
      .header .header__nav .header__nav__logo .header__nav_logo__svg {
        height: 8rem; } }
    .header .header__nav .header__nav__logo .header__logo__animForma {
      -webkit-transform-origin: 0x 15rem;
      -ms-transform-origin: 0x 15rem;
      transform-origin: 0x 15rem;
      -webkit-animation: moviendoPanel 3s ease-in alternate;
      animation: moviendoPanel 3s ease-in alternate;
      -webkit-transform: scale(1, 1) translate(2rem, 0);
      transform: scale(1, 1) translate(2rem, 0); }
    .header .header__nav .header__nav__logo .txtColor .header__logo__animForma:nth-child(1) {
      fill: #000000; }
    .header .header__nav .header__nav__logo .txtColor .header__logo__animForma:nth-child(2) {
      fill: #32a1ac; }
    .header .header__nav .header__nav__logo .txtColor .header__logo__animForma:nth-child(3) {
      fill: #9dd6c6; }
    .header .header__nav .header__nav__logo .txtColor .header__logo__animForma:nth-child(4) {
      fill: #f8c25c; }
    .header .header__nav .header__nav__logo .txtColor .header__logo__animForma:nth-child(5) {
      fill: #d83863; }
    .header .header__nav .header__nav__logo .header__logo__sombra {
      -webkit-transform: translate(0.4rem, 0.4rem);
      -ms-transform: translate(0.4rem, 0.4rem);
      transform: translate(0.4rem, 0.4rem); }
    .header .header__nav .header__nav__logo .header__logo__animForma--sombra {
      fill: #757575;
      fill-opacity: 0.2; }

@-webkit-keyframes moviendoPanel {
  0% {
    -webkit-transform: scale(0, 1) translate(0, 0);
    -ms-transform: scale(0, 1) translate(0, 0);
    transform: scale(0, 1) translate(0, 0); }
  100% {
    -webkit-transform: scale(1, 1) translate(2rem, 0);
    transform: scale(1, 1) translate(2rem, 0rem); } }

@keyframes moviendoPanel {
  0% {
    -webkit-transform: scale(0, 1) translate(0, 0);
    -ms-transform: scale(0, 1) translate(0, 0);
    transform: scale(0, 1) translate(0, 0); }
  100% {
    -webkit-transform: scale(1, 1) translate(2rem, 0);
    transform: scale(1, 1) translate(2rem, 0); } }
    .header .header__nav .header__nav__logo .header__logo__txt {
      font-family: "Krub", sans-serif;
      font-size: 2.5rem;
      font-weight: 700;
      font-style: italic; }
    .header .header__nav .header__nav__iconoHamb {
      z-index: 110; }
    .header .header__nav .header__nav__enlaces {
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      list-style: none;
      transition: all 0.5s ease-out;
      /*transicion cuando se despliega menu hamburguesa*/
      background-color: #242121; }
      .header .header__nav .header__nav__enlaces .header__nav__enlaces__li {
        margin-top: 3rem; }
        .header .header__nav .header__nav__enlaces .header__nav__enlaces__li .header__nav__enlaces__a {
          text-decoration: none;
          color: #f8f3e3;
          font-family: "Krub", sans-serif;
          font-size: 2rem;
          font-weight: 600; }
        .header .header__nav .header__nav__enlaces .header__nav__enlaces__li .header__nav__enlaces__a:hover {
          cursor: pointer;
          color: #d83863; }
        .header .header__nav .header__nav__enlaces .header__nav__enlaces__li .header__nav__enlaces__a--active {
          color: #d83863; }
    @media (min-width: 769px) {
      .header .header__nav .header__nav__iconoHamb {
        display: none; }
      .header .header__nav .header__nav__enlaces {
        position: initial;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: transparent;
        transition: all 0.1s ease-out; }
        .header .header__nav .header__nav__enlaces .header__nav__enlaces__li {
          margin-top: initial;
          /*animacion linea hacia la izquierda*/
          /*animacion linea hacia la derecha*/
          /*muestra las lineas horizontales en los enlaces*/ }
          .header .header__nav .header__nav__enlaces .header__nav__enlaces__li .header__nav__enlaces__a {
            --clippy1: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
            --clippy2: polygon(0 0, 0 0, 0 100%, 0% 100%); }
          .header .header__nav .header__nav__enlaces .header__nav__enlaces__li .header__nav__enlaces__a:hover {
            cursor: pointer;
            color: #d83863; }
          .header .header__nav .header__nav__enlaces .header__nav__enlaces__li .header__nav__enlaces__a--pse::before {
            content: "";
            display: block;
            background: #d83863;
            width: 100%;
            margin-bottom: 0.4rem;
            height: 0.3rem;
            clip-path: var(--clippy1);
            transition: clip-path 0.4s; }
          .header .header__nav .header__nav__enlaces .header__nav__enlaces__li .header__nav__enlaces__a--pse::after {
            content: "";
            display: block;
            background: #d83863;
            width: 100%;
            margin-top: 0.4rem;
            height: 0.3rem;
            clip-path: var(--clippy2);
            transition: clip-path 0.4s; }
          .header .header__nav .header__nav__enlaces .header__nav__enlaces__li .header__nav__enlaces__a--pse:hover:before {
            --clippy1: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            color: #d83863; }
          .header .header__nav .header__nav__enlaces .header__nav__enlaces__li .header__nav__enlaces__a--pse:hover:after {
            --clippy2: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            color: #d83863; } }

@media screen and (max-width: 769px) {
  /*para desplegar y ocultar los enlaces del menu hamburguesa en forma circular*/
  /*para ocultar el menu*/
  .ocultarEnlaces {
    -webkit-clip-path: circle(0% at 100% 0%);
    clip-path: circle(0% at 100% 0%); }
  /*para mostrar el menu de forma circular*/
  .circuloEnlace {
    -webkit-clip-path: circle(150% at 100% 0%);
    clip-path: circle(150% at 100% 0%); } }

/*--------------------------------------------------------------*/
/*Para agrandar un poquito el header en pantalla grande*/
@media (min-width: 769px) {
  .header {
    height: 8rem; } }

/*FIN HEADER---------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*Boton formulario----------------------------------------------------*/
.contenedorBotones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end; }
  .contenedorBotones .contenedorBotones__boton {
    position: relative;
    padding: 1rem 3rem;
    margin-top: 2rem;
    background-color: #d83863;
    font-family: "PT Sans", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 0.5rem;
    color: #f8f3e3;
    background-color: transparent;
    border: 2px solid #20e2d7;
    z-index: 0;
    cursor: pointer;
    overflow: hidden; }
  .contenedorBotones .contenedorBotones__boton:hover {
    animation: sombra_pulso 1000ms 1;
    background-color: #20e2d7;
    color: #434343; }
  .contenedorBotones .contenedorBotones__boton--widht100 {
    width: 100%; }
  @media (min-width: 769px) {
    .contenedorBotones {
      /*cuando es mas de 769 pixeles se resetea y el boton se muestra mas chico. es para verlo grande en movil*/ }
      .contenedorBotones .contenedorBotones__boton--widht100 {
        width: auto; } }

/*animacion de boton---------------------------------*/
@keyframes sombra_pulso {
  0% {
    box-shadow: 0 0 0 0 #20e2d780; }
  100% {
    box-shadow: 0 0 0.8rem 1.6rem #20E2D700; } }

/*Fin Efectos de botones --------------------------*/
/*Fin Boton-----------------------------------------------*/
/*formulario---------------------------------------------------------------*/
.formulario {
  background-color: #242121;
  width: min(100rem, 100%);
  margin: 0 auto;
  padding: 2rem;
  border-radius: 1rem; }
  .formulario .formulario__fieldset {
    border: none;
    /*el textarea*/
    /*para poner el formulario en tres columnas cuando es mas grande que 769 pixeles*/ }
    .formulario .formulario__fieldset .formulario__legend {
      text-align: center;
      font-family: "PT Sans", sans-serif;
      font-size: 1.8rem;
      font-weight: 700;
      color: #f8c25c;
      text-transform: uppercase;
      margin-bottom: 2rem; }
    .formulario .formulario__fieldset .formulario__contenedorCampos__campo {
      margin-bottom: 1rem; }
      .formulario .formulario__fieldset .formulario__contenedorCampos__campo .formulario__campo__label {
        font-family: "PT Sans", sans-serif;
        font-size: 1.8rem;
        font-weight: 700;
        color: #f8f3e3;
        margin-bottom: 0.5rem;
        display: block; }
      .formulario .formulario__fieldset .formulario__contenedorCampos__campo .formulario__campo__inputTexto {
        border-color: #242121;
        font-family: "PT Sans", sans-serif;
        font-size: 1.6rem;
        font-weight: 400;
        width: 100%;
        border: none;
        padding: 1.5rem;
        border-radius: 0.5rem; }
      .formulario .formulario__fieldset .formulario__contenedorCampos__campo .formulario__campo__inputTexto:focus {
        outline: none;
        border: 2px solid #f8c25c;
        box-shadow: 0 0 1rem #f8c25c; }
      .formulario .formulario__fieldset .formulario__contenedorCampos__campo .formulario__campo__select {
        background-color: #f8c25c; }
    .formulario .formulario__fieldset .formulario__contenedorCampos__campo:nth-child(7) {
      grid-column: 1/4; }
      .formulario .formulario__fieldset .formulario__contenedorCampos__campo:nth-child(7) .formulario__campo__inputTexto {
        height: 90%;
        resize: none; }
    @media (min-width: 769px) {
      .formulario .formulario__fieldset .formulario__contenedorCampos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto 20rem;
        column-gap: 1rem; } }

/*fin formulario------------------------------------------------------------*/
.body-error404 {
  background-image: url(../images/ubicaciones/AB5I6799_NikkiTo.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #f8f3e3; }
  .body-error404 .body-error404_main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .body-error404 .body-error404_main .body-error404_main_section {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.3);
      border-radius: 0.5rem;
      text-align: center;
      backdrop-filter: blur(1rem);
      -webkit-backdrop-filter: blur(1rem);
      max-width: 100%;
      max-height: 100%;
      padding: 2rem 4rem; }
      .body-error404 .body-error404_main .body-error404_main_section .body-error404_section__h1 {
        font-family: "Krub", sans-serif;
        font-size: 10.5rem;
        font-weight: 700; }
      .body-error404 .body-error404_main .body-error404_main_section .body-error404_section__h2 {
        font-family: "Krub", sans-serif;
        font-size: 4rem;
        font-weight: 700; }
      .body-error404 .body-error404_main .body-error404_main_section .body-error404_section__p {
        font-family: "Krub", sans-serif;
        font-size: 2.5rem;
        font-weight: 400; }
        .body-error404 .body-error404_main .body-error404_main_section .body-error404_section__p .body-error404_section__p__a {
          font-family: "Krub", sans-serif;
          font-size: 3rem;
          font-weight: 500;
          color: #f8f3e3;
          text-decoration: none;
          padding: 0 1rem; }
        .body-error404 .body-error404_main .body-error404_main_section .body-error404_section__p .body-error404_section__p__a:hover {
          color: #d83863; }

/*GENERAL----------------------------------------------------------------------------------------------------------------------------*/
/*Configuro para utilizar REM en lugar de PX, 1 rem = 10 px------*/
html {
  font-size: 62.5%;
  box-sizing: border-box;
  /*para manejar mejor el box model*/ }

/*para manejar mejor el box model*/
*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  font-size: 16px;
  /*1 rem = 10px*/
  background-color: #f8f3e3;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto; }

/*"Reseteamos" CSS*/
* {
  margin: 0;
  padding: 0; }

h1,
h2,
h3 {
  font-family: "Krub", sans-serif;
  font-size: 3.4rem;
  font-weight: 700; }

h1 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  color: #000000; }

/*FIN GENERAL----------------------------------------------------------------------------------------------------------------------------*/
/*PAGINA PRINCIPAL INDEX--------------------------------------------------------------------------------------------------------------------------------------------------*/
.slider {
  position: relative;
  width: 100vv;
  height: 100vh;
  border-bottom-left-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
  overflow: hidden; }
  .slider .slider__slides {
    width: 500%;
    height: 100vh;
    display: flex; }
    .slider .slider__slides .transparenciaNegrita {
      position: absolute;
      width: 100%;
      height: 100vh;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
      background-color: #00000050; }
    .slider .slider__slides .slider__slides__titulos {
      white-space: nowrap;
      display: initial;
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0; }
      .slider .slider__slides .slider__slides__titulos .slider__titulos__h1 {
        margin: 0;
        font-family: "Krub", sans-serif;
        font-size: 3.4rem;
        font-weight: 700;
        color: #f8f3e3; }
      .slider .slider__slides .slider__slides__titulos .slider__titulos__h2 {
        margin: 0;
        font-family: "Krub", sans-serif;
        font-size: 2.8rem;
        font-weight: 700;
        color: #f8f3e3; }
      .slider .slider__slides .slider__slides__titulos .slider__titulos__h2--moviendoH1 {
        display: inline-block;
        margin: 0 0.5rem;
        animation: bounceInLeft;
        animation-duration: 2.5s; }
      .slider .slider__slides .slider__slides__titulos .slider__titulos__h2--moviendoH2 {
        margin: 0 0.5rem;
        animation: bounceInUp;
        animation-duration: 2.5s; }
      @media (min-width: 769px) {
        .slider .slider__slides .slider__slides__titulos .slider__titulos__h1 {
          font-size: 5rem; }
        .slider .slider__slides .slider__slides__titulos .slider__titulos__h2 {
          font-size: 2.8rem; } }
    .slider .slider__slides .slider__slides__slide {
      width: 20%;
      transition: 2s; }
      .slider .slider__slides .slider__slides__slide .slider__slide__img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
  .slider .slider__slides__inputRadio {
    display: none; }
  .slider #slider__slides__inputRadio1:checked ~ .slider__slides__slide--first {
    margin-left: 0; }
  .slider #slider__slides__inputRadio2:checked ~ .slider__slides__slide--first {
    margin-left: -20%; }
  .slider #slider__slides__inputRadio3:checked ~ .slider__slides__slide--first {
    margin-left: -40%; }
  .slider #slider__slides__inputRadio4:checked ~ .slider__slides__slide--first {
    margin-left: -60%; }
  .slider .slider__navegacionManual {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    left: 50%;
    top: 85%;
    transform: translate(-50%, -50%);
    text-align: center; }
    .slider .slider__navegacionManual .slider__navegacionManual__btn {
      border: 0.2rem solid #f8c25c;
      padding: 0.8rem;
      border-radius: 50%;
      cursor: pointer;
      transition: 1s; }
    .slider .slider__navegacionManual .slider__navegacionManual__btn:not(:last-child) {
      margin-right: 4rem; }
    .slider .slider__navegacionManual .slider__navegacionManual__btn:hover {
      background: #f8c25c; }
  .slider .slider__navegacionAuto {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    left: 50%;
    top: 85%;
    transform: translate(-50%, -50%);
    text-align: center; }
    .slider .slider__navegacionAuto .slider__navegacionAuto__btn {
      border: 0.2rem solid #f8c25c;
      padding: 0.8rem;
      border-radius: 50%;
      transition: 1s; }
    .slider .slider__navegacionAuto .slider__navegacionAuto__btn:not(:last-child) {
      margin-right: 4rem; }
  .slider #slider__slides__inputRadio1:checked ~ .slider__navegacionAuto .slider__navegacionAuto__btn--1 {
    background: #f8c25c; }
  .slider #slider__slides__inputRadio2:checked ~ .slider__navegacionAuto .slider__navegacionAuto__btn--2 {
    background: #f8c25c; }
  .slider #slider__slides__inputRadio3:checked ~ .slider__navegacionAuto .slider__navegacionAuto__btn--3 {
    background: #f8c25c; }
  .slider #slider__slides__inputRadio4:checked ~ .slider__navegacionAuto .slider__navegacionAuto__btn--4 {
    background: #f8c25c; }

.contenedorTextoPrincipal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .contenedorTextoPrincipal .contenedorTextoPrincipal__p {
    margin: 3%;
    padding: 4% 3%;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-top: #242121 0.7rem solid;
    border-bottom: #242121 0.7rem solid;
    font-family: "PT Sans", sans-serif, Charter, Georgia, serif;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    line-height: 3rem; }
  @media (min-width: 769px) {
    .contenedorTextoPrincipal .contenedorTextoPrincipal__p {
      width: 90%;
      margin: 2%;
      padding: 2%;
      font-size: 1.7rem;
      border-bottom-right-radius: 2rem;
      border-left: #242121 4rem solid;
      border-right: #242121 4rem solid;
      border-top: #242121 0.7rem solid;
      border-bottom: #242121 0.7rem solid; } }

@media (min-width: 769px) {
  .contenedorTextoPrincipal {
    width: 100%; } }

.sectionPlatillos .sectionPlatillos__h3 {
  text-align: center;
  font-family: "PT Sans", sans-serif, Charter, Georgia, serif;
  font-size: 3.4rem;
  font-weight: 600;
  margin-bottom: 2rem;
  color: #06273a; }

.sectionPlatillos .sectionPlatillos__platos {
  border-radius: 2.5rem;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: fr 1fr 1fr 1fr 1fr 1fr;
  overflow: hidden; }
  .sectionPlatillos .sectionPlatillos__platos .sectionPlatillos__txt {
    font-family: "PT Sans", sans-serif, Charter, Georgia, serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: #f8f3e3;
    background-color: #242121; }
    .sectionPlatillos .sectionPlatillos__platos .sectionPlatillos__txt .sectionPlatillos__txt__h4 {
      font-family: "PT Sans", sans-serif, Charter, Georgia, serif;
      font-size: 2.2rem;
      font-weight: 600;
      color: #d83863; }
  .sectionPlatillos .sectionPlatillos__platos .sectionPlatillos__txt--sopa {
    grid-row: 4; }
  .sectionPlatillos .sectionPlatillos__platos .sectionPlatillos__txt .centrar {
    margin: 5% 18%; }
  .sectionPlatillos .sectionPlatillos__platos .sectionPlatillos__img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  @media (min-width: 769px) {
    .sectionPlatillos .sectionPlatillos__platos .sectionPlatillos__txt {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    .sectionPlatillos .sectionPlatillos__platos .sectionPlatillos__txt--ensalada {
      grid-row: 2 / 3; }
    .sectionPlatillos .sectionPlatillos__platos .sectionPlatillos__txt--sopa {
      grid-column: 3 / 4;
      grid-row: 2; }
    .sectionPlatillos .sectionPlatillos__platos .sectionPlatillos__txt--chef {
      grid-row: 1;
      grid-column: -3 / -2; } }

@media (min-width: 769px) {
  .sectionPlatillos .sectionPlatillos__platos {
    margin: 0 auto;
    width: 95%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    overflow: hidden; } }

/*FIN PAGINA PRINCIPAL INDEX--------------------------------------------------------------------------------------------------------------------------------------------*/
/*PAGINA NUESTRO EQUIPO--------------------------------------------*/
.fotosEquipo {
  margin: 0 auto;
  width: 80%;
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem; }
  .fotosEquipo .fotosEquipo__item {
    position: relative;
    width: 100%;
    height: 30rem;
    overflow: hidden; }
    .fotosEquipo .fotosEquipo__item .fotosEquipo__item__img {
      background-color: #f8d086;
      cursor: pointer; }
    .fotosEquipo .fotosEquipo__item .fotosEquipo__item__img--otroColor {
      background: #1a1919e1; }
    .fotosEquipo .fotosEquipo__item .fotosEquipo__item__hover {
      background: #06273aab;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #f8f3e3;
      text-align: center;
      transform: translateX(100%);
      cursor: pointer;
      transition: transform 0.3s ease-in-out; }
    .fotosEquipo .fotosEquipo__item .fotosEquipo__item__h2 {
      margin-bottom: 0.4rem; }
    .fotosEquipo .fotosEquipo__item .fotosEquipo__item__p {
      margin: 0.4rem;
      font-family: "Krub", sans-serif, Charter, Georgia, serif;
      font-size: 1.4rem;
      font-weight: 500; }
  .fotosEquipo .fotosEquipo__item:hover .fotosEquipo__item__hover {
    transform: translateX(0%); }

/*FIN PAGINA NUESTRO EQUIPO---------------------------------------------*/
/*PAGINA UBICACIONES--------------------------------------------*/
.bodyUbicacion {
  background-image: url(../images/ubicaciones/AB5I6799_NikkiTo.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #f8f3e3; }

.sectionUbicacion__h1,
.sectionUbicacion__h2 {
  font-weight: 600;
  color: #f8f3e3; }

.sectionUbicacion__h1 {
  font-size: 3.5rem; }

.sectionUbicacion__h2 {
  margin-top: 3rem;
  font-size: 2.8rem; }

#sectionUbicacion__typewriter {
  margin-top: 0.5rem;
  margin-bottom: 4rem;
  font-family: "Krub", sans-serif, Charter, Georgia, serif;
  font-size: 2.8rem;
  font-weight: 600;
  color: #f8c25c; }

@media (min-width: 769px) {
  .sectionUbicacion {
    width: 95%;
    margin: 0 auto; } }

@media (min-width: 1200px) {
  .sectionUbicacion {
    width: 70%;
    margin: 0 auto; } }

.sectionSucursal {
  border: #106ba0 solid;
  margin-bottom: 8rem;
  border-radius: 1rem;
  opacity: 0.9; }
  .sectionSucursal .sectionSucursal__contenedor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #242121;
    border-radius: 0.5rem;
    color: #f8f3e3;
    height: 44rem; }
    .sectionSucursal .sectionSucursal__contenedor .sectionSucursal__listado_h3 {
      font-family: "PT Sans", sans-serif, Charter, Georgia, serif;
      font-size: 2.3rem;
      font-weight: 500;
      color: #d83863;
      margin-bottom: 2rem;
      margin-top: 2rem; }
    .sectionSucursal .sectionSucursal__contenedor .sectionSucursal__listado__ul {
      padding: 0;
      margin: 1rem;
      font-family: "PT Sans", sans-serif, Charter, Georgia, serif;
      font-size: 2.2rem;
      font-weight: 400;
      margin-top: 1.5rem;
      list-style: none; }
      .sectionSucursal .sectionSucursal__contenedor .sectionSucursal__listado__ul .sectionSucursal__listado_h4 {
        margin-top: 4rem;
        font-family: "PT Sans", sans-serif, Charter, Georgia, serif;
        font-size: 2.3rem;
        font-weight: 500;
        color: #f8c25c; }
      .sectionSucursal .sectionSucursal__contenedor .sectionSucursal__listado__ul .sectionSucursal__listado__ul__ul {
        list-style: none; }
  .sectionSucursal .sectionSucursal__contenedor__mapa {
    width: 100%; }
  @media (min-width: 769px) {
    .sectionSucursal .sectionSucursal__contenedor {
      width: 50%;
      height: 55rem;
      border-radius: 0.5rem; }
    .sectionSucursal .sectionSucursal__contenedor__mapa {
      width: 50%;
      height: 55rem;
      border-radius: 0.5rem; } }

@media (min-width: 769px) {
  .sectionSucursal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 8rem; } }

/*FIN PAGINA UBICACION----------------------------------------------*/
/* PAGINA UNITE QUEREMOS CONOCERTE--------------------------------------------*/
.contenedorImgPrincipalUnite {
  width: 100%;
  height: 100%; }
  .contenedorImgPrincipalUnite .contenedorImgPrincipalUnite__imgPrincipal {
    border-radius: 1.5rem; }
  @media (min-width: 769px) {
    .contenedorImgPrincipalUnite .contenedorImgPrincipalUnite__imgPrincipal {
      height: 75rem; } }

.textoFormularioUnite p {
  width: 95%;
  font-family: "PT Sans", sans-serif, Charter, Georgia, serif;
  font-size: 2.1rem;
  font-weight: 500;
  margin: 2rem auto 3rem auto; }

@media (min-width: 769px) {
  .textoFormularioUnite p {
    width: 100%;
    margin: 0 auto 3rem auto; } }

.formulario--unite {
  /*ocultar el input file*/ }
  .formulario--unite .adjuntarCurriculum {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1; }
  .formulario--unite #labelAdjuntarCV {
    font-family: "PT Sans", sans-serif, Charter, Georgia, serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #f8f3e3;
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
    padding: 1.5rem 4rem;
    color: #000000;
    background-color: #f8c25c;
    display: inline-block;
    transition: all 0.5s;
    cursor: pointer;
    text-transform: uppercase;
    width: fit-content;
    border-radius: 0.5rem; }

@media (min-width: 769px) {
  .queremosConocerte {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 95%; }
  .textoFormularioUnite {
    margin-left: 3rem;
    width: 85%; } }

/*FIN PAGINA QUEREMOS CONOCERTE---------------------------------------------------------------*/
/*PAGINA CONTACTO---------------------------------------------------------------------------------*/
.contenedorImgContacto {
  width: 100%;
  height: 100%; }
  .contenedorImgContacto .contenedorImgContacto__img {
    height: 20rem; }

/*FIN PAGINA CONTACTO----------------------------------------------------*/
