/*Defino paleta de colores y fuentes a usar*/
:root {
    --font1: 'PT Sans', sans-serif;
    --font2: 'Open Sans', sans-serif;
    --font3: 'Montserrat Alternates', sans-serif;
    --font4: 'Rubik', sans-serif;
    /* --font6: 'Oswald', sans-serif; */
    --font5: 'Roboto Mono', monospace;
    --font6: 'Krub', sans-serif;
    --fontSizePrimary: 4.7rem;
    --font7: 'Roboto', sans-serif;
    --font8: 'Nunito', sans-serif;

    --primario: #242121;
    --secundario: #f8c25c;
    --blanco: #f8f3e3;
    --rojo: #d83863;    
    --azul: #0097a7;
    --otroAzul: #106BA0;
    --azulOscuro: #06273a;
    --rojizo: #ff2047;
    --gris: #f3f3f3;    
    --otroGris: #757575;
    --negro: #000000;
    --negrotransparentado: #00000050;
    
    --box-shadow: 5px 0 15px rgb(0 0 0 / 0.2);
    --border-radius: 0.4em;
}

/*GENERAL----------------------------------------------------------------------------------------------------------------------------*/
/*Configuro para utilizar REM en lugar de PX, 1 rem = 10 px------*/
/*Tambien para manejar mejor el Box Model*/
html {
    font-size: 62.5%;
    box-sizing: border-box; /*para manejar mejor el box model*/
}

/*para manejar mejor el box model*/
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 16px; /*1 rem = 10px*/
    background-color: var(--blanco);
}

/*"Reseteamos" CSS*/
* {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: var(--font6);
}

h1 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 3.5rem;
    text-align: center;
    color: var(--negro);
}
/*FIN GENERAL----------------------------------------------------------------------------------------------------------------------------*/

/*HEADER---------------------------------------------------------------------------------------------------------------------------------------------------------------*/
header {
    width: 100%;
    height: 6.5rem;
    background-color: var(--negro);
    /* position:absolute; */
    position: sticky;
    top: 0;
    z-index: 100;
    opacity: 0.9;
}

.navegacionPrincipal {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* z-index: 350; */
}

.enlaces {
    position:fixed;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;   
    transition: all 0.5s ease-out;
    background: var(--negro); 
}

.enlaces a { 
    text-decoration: none;
    color: var(--blanco);
    font-family: var(--font6);
    font-weight: 600;
    font-size: 2.4rem;
    
}

.enlaces a:hover {
    cursor: pointer;
    color: var(--rojo);
}

.icono {
    z-index: 110;
}

/*HEADER para pantalla grande--------*/
@media (min-width: 769px) {
    header {
        height: 8rem;
    }

    .enlaces {
        position: initial;
        height: 100%;
        width: 100%;
        flex-direction: row;    
        background-color: transparent;
        transition: all 0.1s ease-out; 
    }
        
    .enlaces a {
        --clippy1: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
        --clippy2: polygon(0 0, 0 0, 0 100%, 0% 100%);
    }

    .enlaces a:hover {
        color: var(--blanco);
    }
    
    /*animacion linea hacia la izquierda*/
    .enlaces a::before 
    {
        content:"";
        display: block;
        background: var(--rojo);
        width: 100%;
        margin-bottom: 0.4rem;
        height: 0.3rem;
        clip-path: var(--clippy1);
        transition: clip-path .4s;
    }

    /*animacion linea hacia la derecha*/
    .enlaces a::after 
    {
        content:"";
        display: block;
        background: var(--rojo);
        width: 100%;
        margin-top: 0.4rem;
        height: 0.3rem;
        clip-path: var(--clippy2);
        transition: clip-path .4s;
        
    }

    /*muestra las lineas horizontales en los enlaces*/
    .enlaces a:hover:before {
        --clippy1: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        color: var(--rojo);
    }

    .enlaces a:hover:after {
        --clippy2: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        color: var(--rojo);
    }

    #icono {
        display:none;
        color: var(--rojo);
    }
}
/*----------------------------------------*/
/*FIN HEADER---------------------------------------------------------------------------------------------------------------------------------------------------------*/



/*MAIN----------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*PAGINA PRINCIPAL INDEX--------------------------------------------------------------------------------------------------------------------------------------------------*/
.contenedorImagenPrincipal {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

.imagenPrincipal {
    width: 100%;
    height: 100%;
    object-fit: cover;   
} 

/*Para insertar color negro transparente encima de la imagen   */ 
/* .transparenciaNegrita {
    position:absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    background-color: var(--negrotransparentado);
} */

.titulosPrincipales  {
   /*  overflow: hidden; */
    white-space: nowrap;
    display: initial;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.titulosPrincipales h1 {
    width: 100%;
    margin: 0;
    font-family: var(--font6);
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--blanco);
}

.titulosPrincipales h2 {
    margin: 0;
    font-family: var(--font6);
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--blanco);
}

/* .titulosPrincipales  {
    display: none;
} */

.contenedorTextoPrincipal {
    padding: 5%;
}

.centrarGenerico {
    display: flex;
    justify-content: center;
    align-items: center;
}


.contenedorTextoPrincipal p {
     padding: 4% 0;
        border-top-left-radius: 2rem;
        border-bottom-right-radius: 2rem; 
        border-top: var(--primario) 0.7rem solid;
        border-bottom:var(--primario) 0.7rem solid; 
        font-family: var(--font6), Charter, Georgia, serif;
        font-weight: 500;
        font-size: 1.7rem;
        text-align: left;
        /* color: #333; */
        line-height: 2.8rem;
}


/*Texto  principal- para pantalla grande ---------------*/
@media (min-width: 769px) {

    .contenedorImagenPrincipal h1 {
        font-size: 5rem;
    }

    .contenedorImagenPrincipal h2 {
        font-size: 2.8rem;  
    }

    .contenedorTextoPrincipal {
        width: 90%;
        border-bottom-right-radius: 2rem; 
        border-left: var(--primario) 5rem solid;
        border-right: var(--primario) 5rem solid;
        border-top: var(--primario) 0.7rem solid;
        border-bottom: var(--primario) 0.7rem solid;  
        margin: 2%;
        padding: 0% 1%;
    }
    .contenedorTextoPrincipal p {
        padding: 2%;
        border: initial;
    }
}
/*------------------------------------------------------*/


.tituloPlatillos {
    text-align: center;
    font-family: var(--font6);
    margin-bottom: 2rem;
    font-size: 3.4rem;
    font-weight: 600;
    color: var(--azulOscuro);
}

.seccionPlatos {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: fr 1fr 1fr 1fr 1fr 1fr;
    overflow: hidden; /*cuando la imagen se sale del contenedor, oculta esa parte*/
}

.textoPlatos {
    font-size: 1.5rem;
    color: var(--blanco);
    font-family: var(--font6);   
    background-color: var(--primario);
}


.textoPlatos .centrar {
    margin: 5% 18%;  
}

.textoPlatos h4 { 
    font-size: 2.2rem;
    color: var(--rojo);
    font-family: var(--font6);
}

.textoSopa {
    grid-row:4 ;
}

.imagenPlatos {
    width: 100%;
    height: 100%;
}

/*Platos para pantalla grande----------------------------------*/
@media (min-width: 769px) {
        
    .seccionPlatos {
        margin: 0 auto;
        width:95%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        overflow: hidden; /*cuando la imagen se sale del contenedor, oculata esa parte*/
    }

    .textoPlatos {
        display: flex;
        flex-direction: column;
        justify-content: center; 
    }

    .textoEnsalada {
        grid-row: 2 / 3; 
    }

    .textoSopa {
        grid-column: 3 / 4; 
        grid-row: 2;
    }

    .textoChef {
        grid-row: 1;
        grid-column: -3 / -2; 
    }
}
/*--------------------------------------------*/

/*FIN PAGINA PRINCIPAL INDEX--------------------------------------------------------------------------------------------------------------------------------------------*/

/*Pagina Ubicaciones--------------------------------------------*/



.bodyUbicacion {
    background-image: url(../images/buenas/AB5I6799_NikkiTo.jpg);
 /*    background-image: url(/images/img-varias/pexels-adrienn-1537635.jpg);  */
/*     background-image: url(/images/ubicaciones.jpg); 
 */
    /* Para dejar la imagen de fondo centrada, vertical y
    horizontalmente */

    background-position: center center;

    /* Para que la imagen de fondo no se repita */

    background-repeat: no-repeat;

    /* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */

    background-attachment: fixed;
    /* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
    background-size: cover;
    /* Se muestra un color de fondo mientras se está cargando la imagen

    de fondo o si hay problemas para cargarla */

    background-color: var(--blanco);

    /* background-image: url(/images/img-varias/pexels-aisha-serafini-5714752.jpg);  */
    /*juega*/
    /* background-image: url(/images/img-varias/pexels-chan-walrus-941861.jpg); */
    /* background-image: url(/images/img-varias/pexels-adrien-olichon-3534750.jpg);  */
    /* background-image: url(/images/img-varias/pexels-cottonbro-4253317.jpg); */
/*-----------------------------------------*/
/*background-image: url(/images/img-varias/pexels-chan-walrus-958545.jpg);*/    
    /* background-image: url(/images/img-varias/pexels-anna-tis-6530100.jpg); */
    /*background-image: url(/images/img-varias/pexels-anna-tis-6341164.jpg);*/
    /* background-image: url(/images/img-varias/20171102_alinea_0322.jpg);  */
    /* background-image: url(/images/img-varias/20171102_alinea_0280.jpg); */
}

.bodyUbicacion h1, .bodyUbicacion h2 {
    font-family: var(--font6);
    font-weight: 700;
    color: var(--blanco);
}

.bodyUbicacion h1 {
    font-size: 3.5rem;
}

.bodyUbicacion h2 {
    margin-top: 3rem;
    font-size: 2.8rem;
}

#typewriter {
    margin-top: 0.5rem;
    margin-bottom: 4rem;
    font-family: var(--font6);
    color: var(--secundario);
    font-size: 2.8rem;
    font-weight: 600;
}

.bodyUbicacion section section {
    border:#106BA0 solid;
    margin-bottom: 8rem;
    border-radius: 1rem;
    /* border: var(--rojo) solid 0.2rem; */
    opacity: 0.9;
}

.contenedorListado {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 2rem; */
    /* width: 100%; */
    background-color: var(--primario);
    border-radius: 0.5rem;
}

.mapa {
    width: 100%;
}

.ubicacionSucursal h3, .ubicacionSucursal h4 {
    font-size: 2.3rem;
    font-weight: 500;
    font-family: var(--font6);
}

.ubicacionSucursal h3 {
    color: var(--rojo);
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.ubicacionSucursal h4 {
    margin-top: 1rem;
    color: var(--secundario);
}

.listadoUbicaciones { 
    color: var(--blanco);
    /* margin-left: 5%;
    padding-bottom: 1%; */
}

.listadoUbicaciones ul {
    padding: 0;
    margin:1rem;
    font-family: var(--font6);
    font-size: 2.2rem;
    list-style: none;
    margin-top: 1.5rem;   
}

.listadoUbicaciones ul ul {
    margin-top: 3rem;
}

@media (min-width: 769px) {

    .contenedorListado {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .bodyUbicacion h2 {
        margin-left: 10%;
    }
    
    #typewriter {
        margin-left: 10%;
    }

    .bodyUbicacion section {
        width: 95%;
        margin: 0 auto;
    }
    
    .bodyUbicacion section section {
        display: flex;
        flex-direction: row;
    }

    .mapa {
        width: 50%;
        height: 55rem;
        border-radius: 0.5rem;
        /* margin-left: 4rem; */
    }

    .contenedorListado {

        width: 50%;
        border-radius: 0.5rem;
    }
/* 
    .listadoUbicaciones { 
        margin-top: 3rem;
    }
 */
}

@media (min-width: 1200px) {
    .bodyUbicacion section {
        width: 80%;
        margin: 0 auto;
    }
}

/*Fin pagina Ubicacion----------------------------------------------*/


/*PAGINA NUESTRO EQUIPO--------------------------------------------*/
.fotosEquipo {
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    /* grid-template-areas: 
    "img1 img2 img3 img4" 
    "img5 img6 img7 img8"; */
    gap: 1.5rem;
}

.fotosItem {
    position: relative;
    width: 100%;
    height: 30rem;
    overflow: hidden;
    /* width: 35rem;
    height: 45rem;
    overflow: hidden;
    margin: 10px;
    position: relative; */
    
}

.fotosItem img {
    
    /* background-color: #f8d086; */
    background-color: #8bc791cb;
    /* background-color: #8bc79188; uso dos? */
    /* background-color: #66757e79; */
    /* background-color: #dae083; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    /* position:absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    cursor: pointer; */
}

.equipoHover {
    position: absolute;
    --primario: #242121;
    --secundario: #f8c25c;
    --blanco: #f8f3e3;
    --rojo: #d83863;    
    --azul: #0097a7;
    --otroAzul: #106BA0;
    --azulOscuro: #06273a;
    --rojizo: #ff2047;
    --gris: #f3f3f3;    
    --otroGris: #757575;
    --negro: #000000;
    --negrotransparentado: #00000050;
    background: #06273aab; 
    /* background: #00000069;  */
    /* background: #dc143c8c; */
    /* background: #d8386383;  */

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--blanco);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(100%);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.fotosItem:hover .equipoHover {
    transform: translateX(0%);
}

/* .quienesSomos {
    display: flex;
    margin: auto;
    width: 65%;
}

.quienesSomos img {
    transform: rotate(-3deg);
}

.textoQuienesSomos {
    margin-left: 5rem;
    width: 80%;
    font-family: var(--font6);
    font-weight: 500;
    font-size: 2.1rem;
}

.textoQuienesSomos p {
    margin-top: 5rem;
} */    
/*FIN PAGINA NUESTRO EQUIPO---------------------------------------------*/


/* PAGINA UNITE QUEREMOS CONOCERTE--------------------------------------------*/

.contenedorImagenUnite {
    width: 100%;
    height: 100%;
}

/* .cajaTextoUnite {
    margin: auto;
} */

.imagenConocerte {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.textoFormularioUnite p {
    width: 95%;
    font-family: var(--font6);
    font-weight: 500;
    font-size: 2.1rem;
    margin: 2rem auto 3rem auto;
}

@media (min-width: 769px) {

    .textoFormularioUnite p {
        width: 100%;
        margin: 0 auto 3rem auto;
    }

    .textoFormularioUnite {
        margin-left: 4rem;
        width: 85%;
    }

    .imagenConocerte {
        width: 100%;
        height: 70rem;
    }
    
    .queremosConocerte {
        display: flex;
        margin: auto;
        width: 95%; 
        /* justify-content: center;
        align-items: center; */
    }
}

/*ocultar el input file*/
.adjuntarCurriculum {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#labelCurriculum {
    font-family: var(--font6);
    color: var(--blanco);
    font-weight: 700;
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
    padding: 1.5rem 4rem;
    color: var(--negro);
    background-color: var(--secundario);
    display: inline-block;
    transition: all .5s;
    cursor: pointer;
    text-transform: uppercase;
    width: fit-content;
    border-radius: 0.5rem;
    }

.formulario2 {
    background-color: var(--primario);
    width: 100%; /*utilizar el valor mas pequeño*/
    margin: 0 auto; /*Se centra asi cuando: el padre no tiene display flex y es elemento de bloque*/
    padding: 2rem;
    border-radius: 1rem;
}

/*FIN PAGINA QUEREMOS CONOCERTE--------------------------------------------------- ------------*/
    

/*PAGINA CONTACTO---------------------------------------------------------------------------------*/
.contenedorImagenPrincipalContacto {
    width: 100%;
    height: 20rem;
    position: relative;
}

/*formulario---------------------------------------------------------------*/
.formulario {
    background-color: var(--primario);
    width: min(100rem, 100%); /*utilizar el valor mas pequeño*/
    margin: 0 auto; /*Se centra asi cuando: el padre no tiene display flex y es elemento de bloque*/
    padding: 2rem;
    border-radius: 1rem;
}

.formulario fieldset, .formulario2 fieldset{
    border: none;
    /* margin-right: 1.5rem; */
}

.formulario legend, .formulario2 legend {
    text-align: center;
    font-size: 1.8rem;
    font-family: var(--font6);
    font-weight: 700;
    color: var(--secundario);
    text-transform: uppercase;
    margin-bottom: 2rem;
}

/*para poner el formulario en tres columnas cuando es mas grande que 769 pixeles*/
@media (min-width: 769px) {
    .contenedorCampos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto 20rem;
        column-gap: 1rem;  
    }
}

/*el textarea*/
.campo:nth-child(7) {
    grid-column: 1/4;
}

.campo {
    margin-bottom: 1rem;
}

.campo label {
    font-family: var(--font6);
    font-weight: 400;
    color: var(--blanco);
    font-weight: 700;
    margin-bottom: 0.5rem;
    display: block;  /* los labels toman todo el espacio disponible*/
}

.campo textarea {
    height: 90%;
    resize: none;
}

.campo select {
    background-color: var(--secundario);
}

.inputTexto {
    border-color: var(--primario);
    font-family: var(--font6);
    font-weight: 400;
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: 0.5rem;
}

.inputTexto:focus {
    outline: none;
    border:2px solid var(--secundario);
    box-shadow: 0 0 1rem var(--secundario);
}

/*Boton formulario----------------------------------------------------*/
.boton {
    position: relative;
    padding: 1rem 3rem;
    margin-top: 2rem;
    background-color: var(--rojo);
    font-family: var(--font6);
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0.5rem;
    color: var(--blanco);
    background-color: transparent;
    border: 2px solid #20e2d7;
    z-index:0;
    cursor: pointer;
    overflow: hidden;
}

/*efecto de boton rojo*/
/* .boton::before {
    content: "";
    position: absolute;
    left: -85rem;
    right: 0;
    top: -2rem;
    background-color: var(--rojo);
    z-index: -1;
    width: 200%;
    height: 200%;
    transition: all 1.3s ease;
    transform: rotate(45deg);
    box-shadow: 0 0 10px var(--rojo), 0 0 20px var(--rojo), 0 0 20px var(--rojo);
}
.boton:hover::before {
    left: 50rem;
} */
/*-------------------*/

.contenedorBotones {
    display: flex;
}

/*Cuando es mas grande q 769 px se alinea derecha*/
.alinearDerecha { 
    justify-content: flex-end;
}

.widht100 {
    width: 100%;
}

@media (min-width: 769px) {
    /*cuando es mas de 769 pixeles se resetea y el boton se muestra mas chico. es para verlo grande en movil*/
    .widht100 {
        width: auto;
    }
}

/*Fin Boton-----------------------------------------------*/

/*FIN PAGINA CONTACTO----------------------------------------------------*/

/*FIN MAIN----------------------------------------------------------------------------------------------------------------------------------------------------*/


/*FOOTER-----------------------------------------------------------------------------------------------------------------------------------------------------*/
.footer {
    margin-top: 8rem;
    padding: 1rem;
    color: var(--blanco);
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--negro);
    box-shadow: var(--box-shadow);
}

.footer p {
    text-align: center;
    font-family: var(--font6);
    font-size: 2rem;
    font-weight: 500;
    color: var(--blanco);
    margin-bottom: 0.7rem;
}

@media screen and (min-width: 760px) {
    .footer {
    height: 17.5rem;
    }
}

.socialLinks {
    display: flex;
    justify-content: space-between;
    width: 15rem;
    list-style: none; 
    cursor: pointer;
}

.fa-twitter:hover {
    color:#7adcf9;
    color:#4bc9f5;
}

.fa-facebook:hover {
    color: #548abf;
    color: #295b9e;
}

.fa-youtube:hover {
    color: #df192a; 
    color: #c41222;
}

.fa-instagram:hover {
    color: #7fc121;
    color: #298733;
    color: #ff9259;
}
/*FIN FOOTER-----------------------------------------------------*/

/*----------------------------------------*/
/*FIN FOOTER-----------------------------------------------------------------------------------------------------------------------------------------------*/

/*OBJETOS ANIMADOS-------------------------------*/
.moviendoH1 {
    display: inline-block;
    margin: 0 0.5rem;
    animation: bounceInLeft; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2.5s; /* don't forget to set a duration! */
    /* animation: movimientoTituloH1 1.5s ease-in; */
}

.moviendoH2 {
   /*  animation: movimientoTituloH2 1.5s ease-in; */
    /* display: inline-block; */
    margin: 0 0.5rem;

    animation: bounceInUp; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2.5s; /* don't forget to set a duration! */
}

/* 
@keyframes movimientoTituloH1 {
    0% {
        transform: translateX(-75rem);
        opacity: 0.3;
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes movimientoTituloH2 {
    0%
    {
        transform: translateY(40rem);
        opacity: 0;
    }
    100%
    {
        transform: translateY(0);
    }
} */

/*Efectos de botones -----------------------------------*/
/*efecto boton rojo*/
/* .boton:hover {
    animation: sombra_pulso 1000ms 1;
    background-color: var(--rojo);
    color:var(--primario);
}

@keyframes sombra_pulso {
    0% 
    {
        box-shadow: 0 0 0 0 #d83863;
    }
    100% 
    {
        box-shadow: 0 0 8px 16px rgba(32, 226, 215, 0);
    }
} */
/*efecto boton rojo*/

    
/*boton de contacto*/
.boton:hover {
    animation: sombra_pulso 1000ms 1;
    background-color: #20e2d7;
    color: #434343;
    }

@keyframes sombra_pulso {
    0% {
        box-shadow: 0 0 0 0 rgba(32, 226, 215, 0.6);
    }
    100% {
        box-shadow: 0 0 8px 16px rgba(32, 226, 215, 0);
    }
}
/*Fin Efectos de botones -----------------------------------*/

/*LOGO-------------------------------------*/
.text--transparent {
    fill: transparent;
}

.anim-shape {
    -webkit-transform-origin: 0x 15rem;
    -ms-transform-origin: 0x 15rem;
    transform-origin: 0x 15rem;
    -webkit-animation: moving-panel 3s ease-in alternate;
    animation: moving-panel 3s ease-in alternate;
    -webkit-transform: scale(1, 1) translate(2rem, 0);
    transform: scale(1, 1) translate(2rem, 0);
}

.colortext .anim-shape:nth-child(1) {
    fill: var(--negro);
}

.colortext .anim-shape:nth-child(2) {
    fill: #32a1ac; 
}

.colortext .anim-shape:nth-child(3) {
    fill: #9dd6c6;
}

.colortext .anim-shape:nth-child(4) {
    fill: var(--secundario);
}

.colortext .anim-shape:nth-child(5) {
    fill: var(--rojo);
}

.shadow {
    -webkit-transform: translate(4px, 4px);
    -ms-transform: translate(4px, 4px);
    transform: translate(4px, 4px);
}

.anim-shape--shadow {
    fill:var(--otroGris);
    fill-opacity: 0.2;
}

@-webkit-keyframes moving-panel {
    0% {
        -webkit-transform: scale(0, 1) translate(0, 0);
        -ms-transform: scale(0, 1) translate(0, 0);
        transform: scale(0, 1) translate(0, 0);
    }
    100% {
    -webkit-transform: scale(1, 1) translate(20px, 0);
    transform: scale(1, 1) translate(20px, 0px);
    }
}

@keyframes moving-panel {
    0% {
        -webkit-transform: scale(0, 1) translate(0, 0);
        -ms-transform: scale(0, 1) translate(0, 0);
        transform: scale(0, 1) translate(0, 0);
    } 
    100% {
        -webkit-transform: scale(1, 1) translate(2rem, 0);
        transform: scale(1, 1) translate(2rem, 0);
    }
}

svg {
    width: 100%;
    height: 5rem;
}

@media (min-width: 769px) {
svg {
    height: 6rem;
    }
}

text {
    font-size: 2.5rem;
    font-family: var(--font6);
    font-weight: 700;
    font-style: italic;
}
/*fin de logo-----------------------------------------------------*/


/*para desplegar y ocultar los enlaces del menu hamburguesa*/
@media screen and (max-width:769px) {

    /*para ocultar el menu*/
    .ocultarEnlaces {
        -webkit-clip-path: circle(0% at 100% 0%);
        clip-path: circle(0% at 100% 0%);
    }

    .circuloEnlace {
        -webkit-clip-path: circle(150% at 100% 0%);
        clip-path: circle(150% at 100% 0%);
    }
}
/*--------------------------------------------------------------*/