@import './base/variables';

/*GENERAL----------------------------------------------------------------------------------------------------------------------------*/
/*Configuro para utilizar REM en lugar de PX, 1 rem = 10 px------*/
/*Tambien para manejar mejor el Box Model*/
html {
    font-size: 62.5%;
    box-sizing: border-box; /*para manejar mejor el box model*/
}

/*para manejar mejor el box model*/
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 16px; /*1 rem = 10px*/
    background-color: $blanco;
}

/*"Reseteamos" CSS*/
* {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: $font6;
}

h1 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 3.5rem;
    text-align: center;
    color: $negro;
}
/*FIN GENERAL----------------------------------------------------------------------------------------------------------------------------*/


/*HEADER---------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.header {
    width: 100%;
    height: 6.5rem;
    background-color: $negro;
    position: sticky;
    top: 0;
    z-index: 100;
    opacity: 0.9;
        
    .header__navPrincipal { 
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;

        .header__navPrincipal__logoPrincipal { 
                /*LOGO-------------------------------------*/
            /* .text--transparent {
                fill: transparent;
            } */
            .anim-shape {
                -webkit-transform-origin: 0x 15rem;
                -ms-transform-origin: 0x 15rem;
                transform-origin: 0x 15rem;
                -webkit-animation: moving-panel 3s ease-in alternate;
                animation: moving-panel 3s ease-in alternate;
                -webkit-transform: scale(1, 1) translate(2rem, 0);
                transform: scale(1, 1) translate(2rem, 0);
            }

            .colortext .anim-shape:nth-child(1) {
                fill: $negro;
            }

            .colortext .anim-shape:nth-child(2) {
                fill: #32a1ac; 
            }

            .colortext .anim-shape:nth-child(3) {
                fill: #9dd6c6;
            }

            .colortext .anim-shape:nth-child(4) {
                fill: $secundario;
            }

            .colortext .anim-shape:nth-child(5) {
                fill: $rojo;
            }

            .shadow {
                -webkit-transform: translate(4px, 4px);
                -ms-transform: translate(4px, 4px);
                transform: translate(4px, 4px);
            }

            .anim-shape--shadow {
                fill:$otroGris;
                fill-opacity: 0.2;
            }

            @-webkit-keyframes moving-panel {
                0% {
                    -webkit-transform: scale(0, 1) translate(0, 0);
                    -ms-transform: scale(0, 1) translate(0, 0);
                    transform: scale(0, 1) translate(0, 0);
                }
                100% {
                -webkit-transform: scale(1, 1) translate(20px, 0);
                transform: scale(1, 1) translate(20px, 0px);
                }
            }

            @keyframes moving-panel {
                0% {
                    -webkit-transform: scale(0, 1) translate(0, 0);
                    -ms-transform: scale(0, 1) translate(0, 0);
                    transform: scale(0, 1) translate(0, 0);
                } 
                100% {
                    -webkit-transform: scale(1, 1) translate(2rem, 0);
                    transform: scale(1, 1) translate(2rem, 0);
                }
            }

            svg {
                width: 100%;
                height: 5rem;
            }

            @media (min-width: 769px) {
            svg {
                height: 6rem;
                }
            }

            text {
                font-size: 2.5rem;
                font-family: $font6;
                font-weight: 700;
                font-style: italic;
            }
        } /*fin de logo-----------------------------------------------------*/

        .header__navPrincipal__iconoHamburguesa {
            z-index: 110;
        }

        .header__navPrincipal__enlaces {
            position:fixed;
            height: 100vh;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            list-style: none;   
            transition: all 0.5s ease-out; /*transicion cuando se despliega menu hamburguesa*/
            background: $negro; 
        
            a { 
                text-decoration: none;
                color: $blanco;
                font-family: $font6;
                font-weight: 600;
                font-size: 2.4rem;
            }

            a:hover {
                cursor: pointer;
                color: $rojo;
            }
        }
    
        /*Navegacion principal para pantalla grande--------*/
        @media (min-width: 769px) {
            
            .header__navPrincipal__iconoHamburguesa {
                display:none;
                color: $rojo;
            }

            .header__navPrincipal__enlaces {
                position: initial;
                height: 100%;
                width: 100%;
                flex-direction: row;    
                background-color: transparent;
                transition: all 0.1s ease-out; 
            
                a {
                    --clippy1: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
                    --clippy2: polygon(0 0, 0 0, 0 100%, 0% 100%);
                }

                a:hover {
                    cursor: pointer;
                    color: $blanco;
                }

                /*animacion linea hacia la izquierda*/
                a::before 
                {
                    content:"";
                    display: block;
                    background: $rojo;
                    width: 100%;
                    margin-bottom: 0.4rem;
                    height: 0.3rem;
                    clip-path: var(--clippy1);
                    transition: clip-path .4s;
                }

                /*animacion linea hacia la derecha*/
                a::after 
                {
                    content:"";
                    display: block;
                    background: $rojo;
                    width: 100%;
                    margin-top: 0.4rem;
                    height: 0.3rem;
                    clip-path: var(--clippy2);
                    transition: clip-path .4s;
                }

                /*muestra las lineas horizontales en los enlaces*/
                a:hover:before {
                    --clippy1: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                    color: $rojo;
                }

                a:hover:after {
                    --clippy2: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                    color: $rojo;
                }
            }
        }
    }
}

/*para desplegar y ocultar los enlaces del menu hamburguesa*/
@media screen and (max-width:769px) {

    /*para ocultar el menu*/
    .ocultarEnlaces {
        -webkit-clip-path: circle(0% at 100% 0%);
        clip-path: circle(0% at 100% 0%);
    }

    /*para que muestre el despliegue del menu con forma circular*/
    .circuloEnlace {
        -webkit-clip-path: circle(150% at 100% 0%);
        clip-path: circle(150% at 100% 0%);
    }
}
/*--------------------------------------------------------------*/

/*Para agrandar un poquito el header en pantalla grande*/
@media (min-width: 769px) {
    .header {
        height: 8rem;
    }
}
/*FIN HEADER---------------------------------------------------------------------------------------------------------------------------------------------------------*/


/*MAIN----------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*PAGINA PRINCIPAL INDEX--------------------------------------------------------------------------------------------------------------------------------------------------*/
.contenedorImgPrincipal {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

.contenedorImgPrincipal__imgPrincipal {
    width: 100%;
    height: 100%;
    object-fit: cover;
} 

/*Para insertar color negro transparente encima de la imagen   */ 
/* .transparenciaNegrita {
    position:absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    background-color: $negrotransparentado;
}
 */ 

.contenedorImgPrincipal__titulos {
   /*  overflow: hidden; */
    white-space: nowrap;
    display: initial;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.contenedorImgPrincipal__titulos__h1 {
    width: 100%;
    margin: 0;
    font-family: $font6;
    font-size: 2.4rem;
    font-weight: 700;
    color: $blanco;
}

.contenedorImgPrincipal__titulos__h2 {
    margin: 0;
    font-family: $font6;
    font-size: 1.8rem;
    font-weight: 700;
    color: $blanco;
}

.contenedorImgPrincipal__titulos__h2--moviendoH1 {
    display: inline-block;
    margin: 0 0.5rem;
    animation: bounceInLeft;
    animation-duration: 2.5s; 
}

.contenedorImgPrincipal__titulos__h2--moviendoH2 {
    margin: 0 0.5rem;
    animation: bounceInUp;
    animation-duration: 2.5s;
}

/*ocultar en celular?*/
/* .titulosPrincipales  {
    display: none;
} */

.contenedorTextoPrincipal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedorTextoPrincipal__p {
        margin: 3%;
        padding: 4% 3%; 
        border-top-left-radius: 2rem;
        border-bottom-right-radius: 2rem; 
        border-top: $primario 0.7rem solid;
        border-bottom: $primario 0.7rem solid; 
        font-family: $font6, Charter, Georgia, serif;
        font-weight: 500;
        font-size: 1.7rem;
        text-align: left;
        line-height: 2.8rem;
}

/*Texto  principal- para pantalla grande ---------------*/
@media (min-width: 769px) {

    .contenedorImgPrincipal__titulos__h1 {
        font-size: 5rem;
    }

    .contenedorImgPrincipal__titulos__h2 {
        font-size: 2.8rem;  
    }

    .contenedorTextoPrincipal {
        width: 100%;
    }

    .contenedorTextoPrincipal__p {
        width: 90%;
        margin: 2%;
        padding: 2%;
        border-bottom-right-radius: 2rem; 
        border-left: $primario 4rem solid;
        border-right: $primario 4rem solid;
        border-top: $primario 0.7rem solid;
        border-bottom: $primario 0.7rem solid;  
    }
}
/*------------------------------------------------------*/


.tituloPlatillos {
    text-align: center;
    font-family: $font6;
    margin-bottom: 2rem;
    font-size: 3.4rem;
    font-weight: 600;
    color: $azulOscuro;
}

.seccionPlatos {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: fr 1fr 1fr 1fr 1fr 1fr;
    overflow: hidden; /*cuando la imagen se sale del contenedor, oculta esa parte*/
}

.textoPlatos {
    font-size: 1.5rem;
    color: $blanco;
    font-family: $font6;   
    background-color: $primario;
}


.textoPlatos .centrar {
    margin: 5% 18%;  
}

.textoPlatos h4 { 
    font-size: 2.2rem;
    color: $rojo;
    font-family: $font6;
}

.textoSopa {
    grid-row:4;
}

.imagenPlatos {
    width: 100%;
    height: 100%;
}

/*Platos para pantalla grande----------------------------------*/
@media (min-width: 769px) {
        
    .seccionPlatos {
        margin: 0 auto;
        width:95%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        overflow: hidden; /*cuando la imagen se sale del contenedor, oculata esa parte*/
    }

    .textoPlatos {
        display: flex;
        flex-direction: column;
        justify-content: center; 
    }

    .textoEnsalada {
        grid-row: 2 / 3; 
    }

    .textoSopa {
        grid-column: 3 / 4; 
        grid-row: 2;
    }

    .textoChef {
        grid-row: 1;
        grid-column: -3 / -2; 
    }
}
/*--------------------------------------------*/

/*FIN PAGINA PRINCIPAL INDEX--------------------------------------------------------------------------------------------------------------------------------------------*/

/*Pagina Ubicaciones--------------------------------------------*/

.bodyUbicacion {
    background-image: url(../images/buenas/AB5I6799_NikkiTo.jpg);

    /* Para dejar la imagen de fondo centrada, vertical y
    horizontalmente */
    background-position: center center;
    /* Para que la imagen de fondo no se repita */
    background-repeat: no-repeat;
    /* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
    background-attachment: fixed;
    /* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
    background-size: cover;
    /* Se muestra un color de fondo mientras se está cargando la imagen
    de fondo o si hay problemas para cargarla */
    background-color: $blanco;
}

.sectionUbicacion__h1, .sectionUbicacion__h2 {
    font-weight: 600;
    color: $blanco;
}

.sectionUbicacion__h1 {
    font-size: 3.5rem;
}

.sectionUbicacion__h2 {
    margin-top: 3rem;
    font-size: 2.8rem;
}

#sectionUbicacion__typewriter {
    margin-top: 0.5rem;
    margin-bottom: 4rem;
    font-family: $font6;
    color: $secundario;
    font-size: 2.8rem;
    font-weight: 600;
}

.sectionSucursal {
    border:#106BA0 solid;
    margin-bottom: 8rem;
    border-radius: 1rem;
    /* border: $rojo solid 0.2rem; */
    opacity: 0.9;
}

.sectionSucursal__contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primario;
    border-radius: 0.5rem;
    color: $blanco;
}

.sectionSucursal__contenedor__mapa {
    width: 100%;
}

.sectionSucursal__listado_h3, .sectionSucursal__listado_h4 {
    font-size: 2.3rem;
    font-weight: 500;
    font-family: $font6;
}

.sectionSucursal__listado_h3 {
    color: $rojo;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.sectionSucursal__listado_h4 {
    margin-top: 1rem;
    color: $secundario;
}

.sectionSucursal__listado__ul {
    padding: 0;
    margin:1rem;
    font-family: $font6;
    font-size: 2.2rem;
    margin-top: 1.5rem;   
    list-style: none;
}

.sectionSucursal__listado__ul__ul {
    margin-top: 3rem;
    list-style: none;
}

@media (min-width: 769px) {
    .sectionSucursal {
        width: 95%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        margin-bottom: 8rem;
    }

    .sectionUbicacion__h2 {
        margin-left: 10%;
    }
    
    #sectionUbicacion__typewriter {
        margin-left: 10%;
    }
    
    .sectionSucursal__contenedor {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        border-radius: 0.5rem;
    }
    
    .sectionSucursal__contenedor__mapa {
        width: 50%;
        height: 55rem;
        border-radius: 0.5rem;
    }
}

@media (min-width: 1200px) {
    .sectionSucursal {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 8rem;
    }
}

/*Fin pagina Ubicacion----------------------------------------------*/


/*PAGINA NUESTRO EQUIPO--------------------------------------------*/
.fotosEquipo {
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    /* grid-template-areas: 
    "img1 img2 img3 img4" 
    "img5 img6 img7 img8"; */
    gap: 1.5rem;
}

.fotosItem {
    position: relative;
    width: 100%;
    height: 30rem;
    overflow: hidden;
    /* width: 35rem;
    height: 45rem;
    overflow: hidden;
    margin: 10px;
    position: relative; */
    
}

.fotosItem img {
    /* background-color: #f8d086; */
    background-color: #8bc791cb;
    /* background-color: #8bc79188; uso dos? */
    /* background-color: #66757e79; */
    /* background-color: #dae083; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;

}

.equipoHover {
    background: #06273aab; 
    /* background: #00000069;  */
    /* background: #dc143c8c; */
    /* background: #d8386383;  */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: $blanco;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(100%);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.fotosItem:hover .equipoHover {
    transform: translateX(0%);
}

/*FIN PAGINA NUESTRO EQUIPO---------------------------------------------*/


/* PAGINA UNITE QUEREMOS CONOCERTE--------------------------------------------*/

/*quito pq uso clases generales para imagen */
/* .contenedorImagenUnite {
    width: 100%;
    height: 100%;
} */


.textoFormularioUnite p {
    width: 95%;
    font-family: $font6;
    font-weight: 500;
    font-size: 2.1rem;
    margin: 2rem auto 3rem auto;
}

@media (min-width: 769px) {

    .textoFormularioUnite p {
        width: 100%;
        margin: 0 auto 3rem auto;
    }

    .textoFormularioUnite {
        margin-left: 4rem;
        width: 85%;
    }

    .contenedorImgPrincipal__imgPrincipal--unite{
        height: 70rem;
    }
    
    .queremosConocerte {
        display: flex;
        margin: auto;
        width: 95%; 
        /* justify-content: center;
        align-items: center; */
    }
}


/*ocultar el input file*/
.adjuntarCurriculum {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#labelCurriculum {
    font-family: $font6;
    color: $blanco;
    font-weight: 700;
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
    padding: 1.5rem 4rem;
    color: $negro;
    background-color: $secundario;
    display: inline-block;
    transition: all .5s;
    cursor: pointer;
    text-transform: uppercase;
    width: fit-content;
    border-radius: 0.5rem;
    }

.formulario2 {
    background-color: $primario;
    width: 100%; /*utilizar el valor mas pequeño*/
    margin: 0 auto; /*Se centra asi cuando: el padre no tiene display flex y es elemento de bloque*/
    padding: 2rem;
    border-radius: 1rem;
}

/*FIN PAGINA QUEREMOS CONOCERTE--------------------------------------------------- ------------*/


/*PAGINA CONTACTO---------------------------------------------------------------------------------*/
.contenedorImgPrincipal__imgPrincipal--contacto {
    /* width: 100%; */
    height: 20rem;
}

/*formulario---------------------------------------------------------------*/
.formulario {
    background-color: $primario;
    width: unquote('min(100rem, 100%)');/*utilizar el valor mas pequeño VERSION*/
    /* width: min(100rem, 100%); */ /*utilizar el valor mas pequeño*/
    margin: 0 auto; /*Se centra asi cuando: el padre no tiene display flex y es elemento de bloque*/
    padding: 2rem;
    border-radius: 1rem;
}

.formulario fieldset, .formulario2 fieldset{
    border: none;
    /* margin-right: 1.5rem; */
}

.formulario legend, .formulario2 legend {
    text-align: center;
    font-size: 1.8rem;
    font-family: $font6;
    font-weight: 700;
    color: $secundario;
    text-transform: uppercase;
    margin-bottom: 2rem;
}


/*para poner el formulario en tres columnas cuando es mas grande que 769 pixeles*/
@media (min-width: 769px) {
    .contenedorCampos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto 20rem;
        column-gap: 1rem;  
    }
}

/*el textarea*/
.campo:nth-child(7) {
    grid-column: 1/4;
}

.campo {
    margin-bottom: 1rem;
}

.campo label {
    font-family: $font6;
    font-weight: 400;
    color: $blanco;
    font-weight: 700;
    margin-bottom: 0.5rem;
    display: block;  /* los labels toman todo el espacio disponible*/
}

.campo textarea {
    height: 90%;
    resize: none;
}

.campo select {
    background-color: $secundario;
}

.inputTexto {
    border-color: $primario;
    font-family: $font6;
    font-weight: 400;
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: 0.5rem;
}

.inputTexto:focus {
    outline: none;
    border:2px solid $secundario;
    box-shadow: 0 0 1rem $secundario;
}

/*Boton formulario----------------------------------------------------*/
.boton {
    position: relative;
    padding: 1rem 3rem;
    margin-top: 2rem;
    background-color: $rojo;
    font-family: $font6;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0.5rem;
    color: $blanco;
    background-color: transparent;
    border: 2px solid #20e2d7;
    z-index:0;
    cursor: pointer;
    overflow: hidden;
}

/*efecto de boton rojo*/
/* .boton::before {
    content: "";
    position: absolute;
    left: -85rem;
    right: 0;
    top: -2rem;
    background-color: $rojo);
    z-index: -1;
    width: 200%;
    height: 200%;
    transition: all 1.3s ease;
    transform: rotate(45deg);
    box-shadow: 0 0 10px $rojo), 0 0 20px $rojo), 0 0 20px $rojo);
}
.boton:hover::before {
    left: 50rem;
} */
/*-------------------*/

.contenedorBotones {
    display: flex;
}

/*Cuando es mas grande q 769 px se alinea derecha*/
.alinearDerecha { 
    justify-content: flex-end;
}

.widht100 {
    width: 100%;
}

@media (min-width: 769px) {
    /*cuando es mas de 769 pixeles se resetea y el boton se muestra mas chico. es para verlo grande en movil*/
    .widht100 {
        width: auto;
    }
}

/*Fin Boton-----------------------------------------------*/


/*FIN PAGINA CONTACTO----------------------------------------------------*/

/*FIN MAIN----------------------------------------------------------------------------------------------------------------------------------------------------*/


/*FOOTER-----------------------------------------------------------------------------------------------------------------------------------------------------*/
.footer {
    margin-top: 8rem;
    padding: 1rem;
    color: $blanco;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: $negro;
    /* box-shadow: $box-shadow; */
}

.footer__p {
    text-align: center;
    font-family: $font6;
    font-size: 2rem;
    font-weight: 500;
    color: $blanco;
    margin-bottom: 0.7rem;
}

@media screen and (min-width: 769px) {
    .footer {
    height: 17.5rem;
    }
}

.footer__socialLinks {
    display: flex;
    justify-content: space-between;
    width: 15rem;
    list-style: none; 
    cursor: pointer;
}

.fa-twitter:hover {
    color:#4bc9f5;
}

.fa-facebook:hover {
    color: #295b9e;
}

.fa-youtube:hover {
    color: #c41222;
}

.fa-instagram:hover {
    color: #ff9259;
}
/*FIN FOOTER-----------------------------------------------------*/

/*----------------------------------------*/
/*FIN FOOTER-----------------------------------------------------------------------------------------------------------------------------------------------*/

/*OBJETOS ANIMADOS-------------------------------*/


    
/*boton de contacto*/
.boton:hover {
    animation: sombra_pulso 1000ms 1;
    background-color: #20e2d7;
    color: #434343;
    }

@keyframes sombra_pulso {
    0% {
        box-shadow: 0 0 0 0 rgba(32, 226, 215, 0.6);
    }
    100% {
        box-shadow: 0 0 8px 16px rgba(32, 226, 215, 0);
    }
}
/*Fin Efectos de botones -----------------------------------*/







