
/*formulario---------------------------------------------------------------*/
.formulario {
    background-color: $primario;
    width: unquote("min(100rem, 100%)"); 
    margin: 0 auto; 
    padding: 2rem;
    border-radius: 1rem;

    .formulario__fieldset {
        border: none;

        .formulario__legend {
            text-align: center;
            @include fonts($font1, $tamano5, 700);
            color: $secundario;
            text-transform: uppercase;
            margin-bottom: 2rem;
        }
        
        .formulario__contenedorCampos__campo {
            margin-bottom: 1rem;
            
            .formulario__campo__label {
                @include fonts($font1 , $tamano5, 700);
                color: $blanco;
                margin-bottom: 0.5rem;
                display: block; 
            }
            
            .formulario__campo__inputTexto {
                border-color: $primario;
                @include fonts($font1 , $tamano3, 400);
                width: 100%;
                border: none;
                padding: 1.5rem;
                border-radius: 0.5rem;
            }
            
            //Borde de los input
            .formulario__campo__inputTexto:focus {
                outline: none;
                border: 2px solid $secundario;
                box-shadow: 0 0 1rem $secundario;
            }
            
            .formulario__campo__select {
                background-color: $secundario;
            }
        }

        /*el textarea*/
        .formulario__contenedorCampos__campo:nth-child(7) {
            grid-column: 1/4;

            .formulario__campo__inputTexto {
                height: 90%;
                resize: none;
            }

        }
        

        /*para poner el formulario en tres columnas cuando es mas grande que 769 pixeles*/
        @media (min-width: 769px) {
            .formulario__contenedorCampos {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: auto auto 20rem;
                column-gap: 1rem;
            }
        }
    }
}
/*fin formulario------------------------------------------------------------*/










