
/*formulario---------------------------------------------------------------*/
.formulario {
    background-color: $primario;
    width: unquote("min(100rem, 100%)"); 
    margin: 0 auto; 
    padding: 2rem;
    border-radius: 1rem;

    fieldset {
        border: none;

        legend {
            text-align: center;
            font-size: 1.8rem;
            font-family: $font1;
            font-weight: 700;
            color: $secundario;
            text-transform: uppercase;
            margin-bottom: 2rem;
        }

        /*el textarea*/
        .campo:nth-child(7) {
            grid-column: 1/4;
        }

        .campo {
            margin-bottom: 1rem;

            label {
                font-family: $font1;
                font-weight: 400;
                color: $blanco;
                font-weight: 700;
                margin-bottom: 0.5rem;
                display: block; 
            }

            textarea {
                height: 90%;
                resize: none;
            }
            
            select {
                background-color: $secundario;
            }

            .inputTexto {
                border-color: $primario;
                font-family: $font1;
                font-weight: 400;
                width: 100%;
                border: none;
                padding: 1.5rem;
                border-radius: 0.5rem;
            }
            
            //Borde de los input
            .inputTexto:focus {
                outline: none;
                border: 2px solid $secundario;
                box-shadow: 0 0 1rem $secundario;
            }
            
        }

        /*para poner el formulario en tres columnas cuando es mas grande que 769 pixeles*/
        @media (min-width: 769px) {
            .contenedorCampos {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: auto auto 20rem;
                column-gap: 1rem;
            }
        }
    }
}
/*fin formulario------------------------------------------------------------*/










