
/*HEADER---------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.header {
    @include wH(100%, 6.5rem);
    background-color: $primario;
    position: sticky;
    top: 0;
    z-index: 100;

    .header__nav {
        @include wH(100%, 100%);
        @include flexbox(row, space-between, normal);
        
        .header__nav__logo {

            .header__nav_logo__svg {
                @include wH(100%, 7rem);
            }
    
            @media (min-width: 769px) {
                .header__nav_logo__svg {
                    height: 8rem;
                }
            }

            .header__logo__animForma {
                -webkit-transform-origin: 0x 15rem;
                -ms-transform-origin: 0x 15rem;
                transform-origin: 0x 15rem;
                -webkit-animation: moviendoPanel 3s ease-in alternate;
                animation: moviendoPanel 3s ease-in alternate;
                -webkit-transform: scale(1, 1) translate(2rem, 0);
                transform: scale(1, 1) translate(2rem, 0);
            }

            .txtColor .header__logo__animForma:nth-child(1) {
                fill: $negro;
            }

            .txtColor .header__logo__animForma:nth-child(2) {
                fill: #32a1ac;
            }

            .txtColor .header__logo__animForma:nth-child(3) {
                fill: #9dd6c6;
            }

            .txtColor .header__logo__animForma:nth-child(4) {
                fill: $secundario;
            }

            .txtColor .header__logo__animForma:nth-child(5) {
                fill: $rojo;
            }

            .header__logo__sombra {
                -webkit-transform: translate(.4rem,.4rem );
                -ms-transform: translate(.4rem, .4rem);
                transform: translate(.4rem, .4rem);
            }

            .header__logo__animForma--sombra {
                fill: $otroGris;
                fill-opacity: 0.2;
            }

            @-webkit-keyframes moviendoPanel {
                0% {
                    -webkit-transform: scale(0, 1) translate(0, 0);
                    -ms-transform: scale(0, 1) translate(0, 0);
                    transform: scale(0, 1) translate(0, 0);
                }
                100% {
                    -webkit-transform: scale(1, 1) translate(2rem, 0);
                    transform: scale(1, 1) translate(2rem, 0rem);
                }
            }

            @keyframes moviendoPanel {
                0% {
                    -webkit-transform: scale(0, 1) translate(0, 0);
                    -ms-transform: scale(0, 1) translate(0, 0);
                    transform: scale(0, 1) translate(0, 0);
                }
                100% {
                    -webkit-transform: scale(1, 1) translate(2rem, 0);
                    transform: scale(1, 1) translate(2rem, 0);
                }
            }

            .header__logo__txt {
                font-size: 2.5rem;
                font-family: $font6;
                font-weight: 700;
                font-style: italic;
            }
        } /*fin de logo-----------------------------------------------------*/

        .header__nav__iconoHamb {
            z-index: 110;
        }

        .header__nav__enlaces {
            position: fixed;
            @include wH(100%, 100vh);
            @include flexbox(column, center, center);
            list-style: none;
            transition: all 0.5s ease-out; /*transicion cuando se despliega menu hamburguesa*/
            background-color: $primario;

            .header__nav__enlaces__a {
                text-decoration: none;
                color: $blanco;
                font-family: $font6;
                font-weight: 600;
                font-size: 2rem;
            }

            .header__nav__enlaces__a:hover {
                cursor: pointer;
                color: $rojo;
            }
        }

        /*Navegacion principal para pantalla grande--------*/
        @media (min-width: 769px) {
            .header__nav__iconoHamb {
                display: none;
            }

            .header__nav__enlaces {
                position: initial;
                @include wH(100%, 100%);
                @include flexbox(row, space-around, center);
                background-color: transparent;
                transition: all 0.1s ease-out;
                
                .header__nav__enlaces__a {
                    --clippy1: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
                    --clippy2: polygon(0 0, 0 0, 0 100%, 0% 100%);
                }
                
                .header__nav__enlaces__a:hover {
                    cursor: pointer;
                    color: $blanco;
                }
                
                /*animacion linea hacia la izquierda*/
                .header__nav__enlaces__a--pse::before {
                    content: "";
                    display: block;
                    background: $rojo;
                    width: 100%;
                    margin-bottom: 0.4rem;
                    height: 0.3rem;
                    clip-path: var(--clippy1);
                    transition: clip-path 0.4s;
                }
                
                /*animacion linea hacia la derecha*/
                .header__nav__enlaces__a--pse::after {
                    content: "";
                    display: block;
                    background: $rojo;
                    width: 100%;
                    margin-top: 0.4rem;
                    height: 0.3rem;
                    clip-path: var(--clippy2);
                    transition: clip-path 0.4s;
                }
                
                /*muestra las lineas horizontales en los enlaces*/
                .header__nav__enlaces__a--pse:hover:before {
                    --clippy1: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                    color: $rojo;
                }
                .header__nav__enlaces__a--pse:hover:after {
                    --clippy2: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                    color: $rojo;
                }

                
                .header__nav__enlaces__a--active {
                    border-top: $rojo 0.3rem solid;
                    width: 100%;
                    height: 0.3rem;
                    margin-bottom: 0.4rem;
                }
                
                .header__nav__enlaces__a--active{
                    border-bottom: $rojo 0.3rem solid;     
                    width: 100%;
                    height: 0.3rem;
                    margin-top: 0.4rem;
                }
            }
        }
    }
}

/*para desplegar y ocultar los enlaces del menu hamburguesa*/
@media screen and (max-width: 769px) {
    /*para ocultar el menu*/
    .ocultarEnlaces {
        -webkit-clip-path: circle(0% at 100% 0%);
        clip-path: circle(0% at 100% 0%);
    }

    /*para que muestre el despliegue del menu con forma circular*/
    .circuloEnlace {
        -webkit-clip-path: circle(150% at 100% 0%);
        clip-path: circle(150% at 100% 0%);
    }
}
/*--------------------------------------------------------------*/

/*Para agrandar un poquito el header en pantalla grande*/
@media (min-width: 769px) {
    .header {
        height: 8rem;
    }
}
/*FIN HEADER---------------------------------------------------------------------------------------------------------------------------------------------------------*/