/*Defino paleta de colores a usar*/
$primario: #242121;
$secundario: #f8c25c;
$blanco: #f8f3e3;
$rojo: #d83863;    
$azul: #0097a7;
$otroAzul: #106BA0;
$azulOscuro: #06273a;
$rojizo: #ff2047;
$gris: #f3f3f3;    
$otroGris: #757575;
$negro: #000000;
$negrotransparentado: #00000050;

