/*Defino paleta de colores a usar*/
$primario: #242121;
$secundario: #f8c25c;
$terciario: #d83863;    
$blanco: #f8f3e3;
$azul: #106ba0;
$azulOscuro: #06273a;
$otroGris: #757575;
$negro: #000000;
$negrotransparentado: #00000050;
$botones:#20e2d7;
$botonesSombraPulso: #20e2d780;

