/*Defino fuentes a usar*/

/* Se agregan fuentes de google */
@import url('https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$font1: 'PT Sans', sans-serif; 
$font2: 'Krub', sans-serif; 

/*Tamaños*/
$tamano1:1.4rem;
$tamano2: 1.5rem;
$tamano3:1.6rem;
$tamano4: 1.7rem;
$tamano5:1.8rem;
$tamano6: 2rem;
$tamano7: 2.1rem;
$tamano8: 2.2rem;
$tamano9: 2.3rem;
$tamano10: 2.5rem;
$tamano11: 2.8rem;
$tamano12: 3rem;
$tamano13: 3.4rem;
$tamano14: 4rem;
$tamano15: 5rem;
$tamano16: 10.5rem;


