/*Defino paleta de colores y fuentes a usar*/
$font1: 'PT Sans', sans-serif;
$font2: 'Open Sans', sans-serif;
$font3: 'Montserrat Alternates', sans-serif;
$font4: 'Rubik', sans-serif;
/* --font6: 'Oswald', sans-serif; */
$font5: 'Roboto Mono', monospace;
$font6: 'Krub', sans-serif;
$fontSizePrimary: 4.7rem;
$font7: 'Roboto', sans-serif;
$font8: 'Nunito', sans-serif;

$primario: #242121;
$secundario: #f8c25c;
$blanco: #f8f3e3;
$rojo: #d83863;    
$azul: #0097a7;
$otroAzul: #106BA0;
$azulOscuro: #06273a;
$rojizo: #ff2047;
$gris: #f3f3f3;    
$otroGris: #757575;
$negro: #000000;
$negrotransparentado: #00000050;