.body-error404 {
    background-image: url(../images/ubicaciones/AB5I6799_NikkiTo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: $blanco;

    .body-error404_main {
        @include flexbox(row, center, center);
    
        .body-error404_main_section {
            @include flexbox(row, center, center);
            background-color: rgba(255, 255, 255, 0.3);
            border-radius: 0.5rem;
            text-align: center;
            backdrop-filter: blur(1rem);
            -webkit-backdrop-filter: blur(1rem); 
            max-width: 100%;
            max-height: 100%;
            padding: 2rem 4rem;
            
            .body-error404_section__h1 {
                @include fonts($font2 , $tamano16, 700);
            }
    
            .body-error404_section__h2 {
                @include fonts($font2, $tamano14, 700);
            }
    
            .body-error404_section__p {
                @include fonts($font2 , $tamano10, 400);
    
                .body-error404_section__p__a {
                    @include fonts($font2 , $tamano12, 500);
                    color: $blanco;
                    text-decoration: none;
                    padding: 0 1rem;
                }
    
                .body-error404_section__p__a:hover {
                    color: $terciario;
                }
            }
        }
    }
}
