
/*GENERAL----------------------------------------------------------------------------------------------------------------------------*/
/*Configuro para utilizar REM en lugar de PX, 1 rem = 10 px------*/
/*Tambien para manejar mejor el Box Model*/
html {
    font-size: 62.5%;
    box-sizing: border-box; /*para manejar mejor el box model*/
}

/*para manejar mejor el box model*/
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 16px; /*1 rem = 10px*/
    background-color: $blanco;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

/*"Reseteamos" CSS*/
* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    font-family: $font6;
}

h1 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 3.5rem;
    text-align: center;
    color: map-get($colorsMaps, negro);
}
/*FIN GENERAL----------------------------------------------------------------------------------------------------------------------------*/
