
/*PAGINA NUESTRO EQUIPO--------------------------------------------*/   
.fotosEquipo {
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;   
    
    .fotosEquipo__item {
        position: relative;
        @include wH(100%, 30rem);
        overflow: hidden;
        
        .fotosEquipo__item__img {
            background-color: #f8d086;
            @extend %images;
            cursor: pointer;
        }
        
        .fotosEquipo__item__img--otroColor {
            background: #1a1919e1; 

        }   

        .fotosEquipo__item__hover {
            background: #06273aab;
            position: absolute;
            top: 0;
            left: 0;
            @include wH(100%, 100%);
            color: $blanco;
            text-align: center;
            @include flexbox(column, center, center);
            transform: translateX(100%);
            cursor: pointer;
            transition: transform 0.3s ease-in-out;
        }

        .fotosEquipo__item__h2 {
            margin-bottom: 0.4rem;
        }

        .fotosEquipo__item__p {
            margin: 0.4rem;
            font-family: $font6;
            font-weight: 500;
            font-size: 1.4rem;
        }
    }

    .fotosEquipo__item:hover .fotosEquipo__item__hover {
        transform: translateX(0%);
    }
}
/*FIN PAGINA NUESTRO EQUIPO---------------------------------------------*/
