
/*PAGINA NUESTRO EQUIPO--------------------------------------------*/   
.fotosEquipo {
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;   
    
    .fotosItem {
        position: relative;
        width: 100%;
        height: 30rem;
        overflow: hidden;
        
        img {
            /* background-color: #f8d086; */
            background-color: #8bc791cb;
            /* background-color: #8bc79188; uso dos? */
            /* background-color: #66757e79; */
            /* background-color: #dae083; */
            /* width: 100%;
            height: 100%;
            object-fit: cover; */
            @extend %images;
            cursor: pointer;
        }

        .equipoHover {
            background: #06273aab;
            /* background: #00000069;  */
            /* background: #dc143c8c; */
            /* background: #d8386383;  */
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            color: $blanco;
            text-align: center;
            /* display: flex;
            flex-direction: column;
            justify-content: center; */
            @include flexbox(column, center, center);
            transform: translateX(100%);
            cursor: pointer;
            transition: transform 0.3s ease-in-out;
        }

        h2 {
            margin-bottom: 0.4rem;
        }

        p {
            margin: 0.4rem;
            font-family: $font6;
            font-weight: 500;
            font-size: 1.4rem;
        }
    }

    .fotosItem:hover .equipoHover {
        transform: translateX(0%);
    }
}


/*FIN PAGINA NUESTRO EQUIPO---------------------------------------------*/
