
/*PAGINA UBICACIONES--------------------------------------------*/
.bodyUbicacion {
    background-image: url(../images/ubicaciones/AB5I6799_NikkiTo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: $blanco;
}

.sectionUbicacion__h1,
.sectionUbicacion__h2 {
    font-weight: 600;
    color: $blanco;
}

.sectionUbicacion__h1 {
    font-size: 3.5rem;
}

.sectionUbicacion__h2 {
    margin-top: 3rem;
    font-size: 2.8rem;
}

#sectionUbicacion__typewriter {
    margin-top: 0.5rem;
    margin-bottom: 4rem;
    font-family: $font1;
    color: $secundario;
    font-size: 2.8rem;
    font-weight: 600;
}

@media (min-width: 769px) {
    .sectionUbicacion {
        width: 95%;
        margin: 0 auto;
    }
}

@media (min-width: 1200px) {
    .sectionUbicacion {
        width: 70%;
        margin: 0 auto;
    }
}

.sectionSucursal {
    border: #106ba0 solid;
    margin-bottom: 8rem;
    border-radius: 1rem;
    opacity: 0.9;

    .sectionSucursal__contenedor {
        @include flexbox(row, center, center);
        background-color: $primario;
        border-radius: 0.5rem;
        color: $blanco;
        height: 44rem;
        
        .sectionSucursal__listado_h3
        {
            font-size: 2.3rem;
            font-weight: 500;
            font-family: $font1;
            color: $rojo;
            margin-bottom: 2rem;
            margin-top: 2rem;
        }
        
        .sectionSucursal__listado__ul {
            padding: 0;
            margin: 1rem;
            font-family: $font1;
            font-size: 2.2rem;
            margin-top: 1.5rem;
            list-style: none;
            
            .sectionSucursal__listado_h4 {
                margin-top: 4rem;
                font-size: 2.3rem;
                font-weight: 500;
                font-family: $font1;
                color: $secundario;
            }
            
            .sectionSucursal__listado__ul__ul {
                list-style: none;
            }
        }     
    }

    .sectionSucursal__contenedor__mapa {
        width: 100%;
    }

    @media (min-width: 769px) {
        .sectionSucursal__contenedor {
            @include wH(50%, 55rem);
            border-radius: 0.5rem;
        }
    
        .sectionSucursal__contenedor__mapa {
            @include wH(50%, 55rem);
            border-radius: 0.5rem;
        }
    }
}

@media (min-width: 769px) {
    .sectionSucursal {
        @include flexbox(row, center, center);
        margin-bottom: 8rem;
    }
}
/*FIN PAGINA UBICACION----------------------------------------------*/
